/*---------------------- 1. Body ------------------------*/
/* Add font */
 @font-face {
     font-family: "Futura";
     src: url('../fonts/Futura-Regular.ttf');
}
 @font-face {
     font-family: "Futura";
     src: url('../fonts/Futura-Bold.ttf');
     font-weight: bold;
}
 @font-face {
     font-family: "Futura";
     src: url('../fonts/Futura-Italic.ttf');
     font-style: italic;
}
 @font-face {
     font-family: "Arvo";
     src: url('../fonts/Arvo-Bold.ttf');
}
 @font-face {
     font-family: "Arvo";
     src: url('../fonts/Arvo-Bold.ttf');
     font-weight: bold;
}
 * {
     margin: 0;
     padding: 0;
}
 body {
     background-color: #fff;
     color: #333;
     font-family: 'Futura', sans-serif;
     font-size: 14px;
}
 html,body {
     height: 100%;
}
 h1,h2,h3,h4,h5,h6 {
     margin-top: 0;
}
 p::last-child {
     margin-bottom: 0;
}
 a,a::before,*::before,*::after,i,button,input {
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
}
 *:focus {
     outline: medium none;
}
 a,a:focus {
     color: inherit;
     outline: none;
     text-decoration: none;
}
 a,a:hover {
     text-decoration: none;
}
 ul,ol {
     list-style: none;
     margin: 0;
}
 img {
     max-width: 100%;
}
/*---------------------- 2. Common Classes ------------------------*/
/* Margin Center */
 .center {
     margin: 0 auto;
     text-align: center;
}
/* Overflow */
 .fix {
     overflow: hidden;
}
/* Float */
 .float-left {
     float: left;
}
 .float-right {
     float: right;
}
.w-100 {
    width: 100% !important;
  }
.h-100 {
    height: 100% !important;
  }
/* Section */
 .section {
     float: left;
     width: 100%;
}
/* Table & Table Cell */
 .table, .table-cell {
     display: table;
     height: 100%;
}
 @media only screen and (max-width: 767px) {
     .table, .table-cell {
         display: block;
         height: auto;
    }
}
 .table-cell {
     display: table-cell;
     vertical-align: middle;
}
 @media only screen and (max-width: 767px) {
     .table-cell {
         display: block;
         height: auto;
    }
}
/* Input Placeholder */
 input:-moz-placeholder, textarea:-moz-placeholder {
     color: inherit;
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
 input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
     color: inherit;
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
 input::-moz-placeholder, textarea::-moz-placeholder {
     color: inherit;
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
 input:-ms-input-placeholder, textarea:-ms-input-placeholder {
     color: inherit;
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* List brand */
 .list-brand {
     height: 170px;
     line-height: 170px;
     text-align: center;
}
 @media only screen and (max-width: 767px) {
     .list-brand {
         height: 80px;
         line-height: 80px;
         text-align: center;
    }
}
.list-brand img {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.list-brand img:hover {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}