/*---------------------- 1. Body ------------------------*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  color: #333;
  font-family: 'Futura', sans-serif;
  font-size: 14px;
}
html,body {
  height: 100%;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}
p::last-child {
  margin-bottom: 0;
}
a,a::before,*::before,*::after,i,button,input {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
*:focus {
  outline: medium none;
}
a,a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}
a,a:hover {
  text-decoration: none;
}
ul,ol {
  list-style: none;
  margin: 0;
}
img {
  max-width: 100%;
}
/*---------------------- 2. Common Classes ------------------------*/
/* Margin Center */
.center {
  margin: 0 auto;
  text-align: center;
}
/* Overflow */
.fix {
  overflow: hidden;
}
/* Float */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* Section */
.section {
  float: left;
  width: 100%;
}
/* Table & Table Cell */
.table, .table-cell {
  display: table;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .table, .table-cell {
      display: block;
      height: auto;
 }
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  .table-cell {
      display: block;
      height: auto;
 }
}